.text-center
  .col-md-3
    .panel.panel-primary
      .panel-heading
        Bid Price
      .panel-body.bid-price
        = 0
  .col-md-3
    .panel.panel-primary
      .panel-heading
        Ask Price
      .panel-body.ask-price
        = 0
  .col-md-3
    .panel.panel-primary.change-direction-color
      .panel-heading
        Change
      .panel-body.dollar-change
        = 0
  .col-md-3
    .panel.panel-primary
      .panel-heading
        Close
      .panel-body.previous-close
        = 0
  .col-md-3
    .panel.panel-primary
      .panel-heading
        52 High
      .panel-body.52-high
        = 0
  .col-md-3
    .panel.panel-primary
      .panel-heading
        52 Low
      .panel-body.52-low
        = 0
  .col-md-3
    .panel.panel-primary
      .panel-heading
        Volume
      .panel-body.daily-volume
        = 0
  .col-md-3
    .panel.panel-primary
      .panel-heading
        Avg Vol
      .panel-body.avg-volume
        = 0