= render 'search_form'
.row
  .col-md-6
    .col-md-12
    = render 'finance'
    .col-md-12.fin-chart
      = render 'chart'
    .col-md-12.sen-chart
      = render "sentiment_chart"
  .col-md-6
    .tweet-list#tweet-list
      = render 'twitter'
